@font-face {
  font-family: poppins;
  src: url(/src/public_site/font/Poppins-Regular.ttf); }

@font-face {
  font-family: poppins-bold;
  src: url(/src/public_site/font/Poppins-Bold.ttf); }

@font-face {
  font-family: poppins-extra-bold;
  src: url(/src/public_site/font/Poppins-ExtraBold.ttf); }

article {
  margin: auto;
  width: 540px;
  padding: 30px;
  background-color: white;
  border-radius: 20px 20px 100px 20px;
  box-shadow: 0px 0px 2px 1px rgba(113, 111, 111, 0.1); }

form {
  display: flex;
  gap: 20px; }

.age-input label {
  display: block;
  font-size: 10px; }

.age-input input {
  font-size: 24px;
  width: 100px;
  border-radius: 5px; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #854dff; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff5757; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: poppins-bold; }

html, body {
  height: 100%;
  background-color: #f0f0f0;
  color: #716f6f;
  letter-spacing: 1.5px;
  overflow: auto; }

a i {
  width: 50%;
  height: 50%; }
  a i.fa-example {
    background: url("/src/public_site/media/icons/.svg") no-repeat center; }
